div {
    float: left; /*Задаем обтекание*/
    line-height: 120px;/*Высота строки +  верт. центрирования текста*/
    font-size: 40px;
    background: dodgerblue;
    color: white;
    margin-top: 60px;
    width: 320px; /*Фиксируем ширину блока*/
    margin-right: 10px;
    text-align: center; /*Центрируем текст по горизонтали*/
   }